export ROOT=$(pwd)
export DB="$ROOT/atlas_db/PDB_chained"
export SWO="$ROOT/outputs/sword_output"
export SWORD_PATH="/home/jan/programs/SWORD2/SWORD2.py"
export SWORD_CONDA_ENV="sword2"

# export IN="$ROOT/gromacs_tutorial_1/inputs"
# export TOP="$ROOT/gromacs_tutorial_1/topology"
# export RUN="$ROOT/gromacs_tutorial_1/run"
