# pdbji iz pdbja. unused
/atlas_db/pdbs.tar.xz

# ne pushat cele baze prosim
/atlas_db/PDB/*
/atlas_db/PDB_chained/*
/atlas_db/RMSF/*
/atlas_db/analysis/*
/atlas_db/trajectories/*

/outputs/COM/*
/outputs/PAI/*
/outputs/PSD/*
/outputs/RMSF/*
/outputs/sword_output/*
/outputs/tmp/*

# pusti en protein, why the hell not
!atlas_db/PDB/
!atlas_db/PDB_chained/
!atlas_db/RMSF/
!atlas_db/analysis/
!atlas_db/trajectories/

!outputs/COM/
!outputs/PAI/
!outputs/PSD/
!outputs/RMSF/
!outputs/sword_output/
!outputs/sword_output/

!atlas_db/PDB/1dd3_A*
!atlas_db/PDB_chained/1dd3_A*
!atlas_db/RMSF/1dd3_A*
!atlas_db/analysis/1dd3_A*
!atlas_db/trajectories/1dd3_A*

!outputs/COM/1dd3_A*
!outputs/PAI/1dd3_A*
!outputs/PSD/1dd3_A*
!outputs/RMSF/1dd3_A*
!outputs/sword_output/1dd3_A*

# ostalo
frequencies_units.txt
/queries/*
/scripts/scratch.r
/scripts/sde.r
/scripts/03_phys/psd_files/*
/scripts/TODO
/scripts/*_files
1dd3_A_fit_A.*
/gromacs_tutorial_1
tmp.log
failed_proteins.log
processed_proteins.log
.RData
.Rhistory
.venv
